@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap%27');

.petstory{
  /* width: 1600px; */
  font-family: Roboto;
}

.popUpContent{
  display: none;
}

header{
  width:100%;
  background-color: #000;
}

header > ul > li > a:hover{
  color: #F9804B
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.navigation{
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: #FFFFFF;
}
nav{
  display: flex;
  align-items: center ;
}

nav ul{
  padding: 0;
}

li{
  list-style: none;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;
  border: 1px solid white;
  border-radius: 2px;
  margin: 14px 63px 14px 0 ;
  position: relative;
  color: rgba(255, 255, 255, 1) ;
}

.logo h1{
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  /* padding: 5px; */
}

.logo img{
  position: absolute;
  bottom: 8px;
  left: 10px;
}

.logo a{
  text-decoration: none;
}

nav > ul > li{
display: inline-block;
margin-right:58px ;
}

nav > ul > li :hover{
  color: #F9804B
  }

.designedBy :hover{
  color: #F9804B
} 

.navigation a{
  text-decoration: none;
  color: #FFFFFF;
}

 li .active{
  color:#F9804B ;
}

.watchAnimal{
  background-image:url("../../assets/images/Giant.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ellipse{
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  position: absolute;
  right: 111px;
  top: 15px;
  z-index: 0;
}

.watchAnimal h1{
  font-size: 106px;
  color: #FFFFFF;
  text-transform: uppercase;
  line-height: 80px;
  width: 500px;
  text-align: center;
  margin-top: 89px;
  margin-bottom: 0;
}

.watchAnimal .wrapper{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.btn {
width: 300px;
height: 55px;
border-radius:25px ;
border: none;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
font-size: 16px;
font-weight: 500;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 60px;
margin-bottom: 100px;
cursor: pointer;
}

.btn:hover{
  background: #E47209;
}

.btn:active{
  background:rgba(75, 146, 0, 1);
}

.yellow{
  color:rgba(255, 238, 46, 1) ;
}

.textAndButton{
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textBackstage{
  margin-left: 87px;
}

.backstage{
  position: relative;
  padding-bottom: 180px;
  padding-top: 140px;
}

.backstage .wrapper {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  padding-right: 20px;
  position: relative;
}

.backstage h1{
font-size: 48px;
line-height: 58px;
margin-top: 0;
margin-bottom: 20px;
}

.backstage h2{
font-size: 24px;
line-height: 28px;
margin-top: 54px;
margin-bottom: 34px;
}

.backstage p{
font-size: 16px;
line-height: 22px;
margin: 0;
}

.flowerOne{
  position: absolute;
  right: 0;
  top: 0;
}

.backstage h1, p, h2{
  font-weight: 400;
}

.pets{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets .wrapper{
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  max-width: 1170px;
}

.ggpet{
  transition: all 1s linear;
  display: flex;
  align-items: center;
  position: relative;
  height: auto;
  flex-shrink: 0;
}

.images{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between ;
  gap: 20px;
  position: relative;
  width: 1150px;
  height: 900px;
  transition: all ease 1s;
  padding: 10px;
  flex: 1;
}

.card{
  outline: #F9804B solid 2px;
  border-radius: 5px;
  overflow:hidden;
  position: relative;
  z-index: 1;
  /* width: 380px; */
  /* pointer-events: none; */
}

.arrLeft, .arrRight {
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: none;
  background-color: rgba(249, 128, 75, 1);
  transform: translate(0 , -50%);
  top: 40%;
  cursor: pointer;
  z-index: 1;
}

.arrLeft{
  left: 9%;
}

.arrRight{
  right:9%;
}

.cardBottom{
display: flex;
justify-content: space-between;
padding:10px 15px
}

.cardText h1{
font-size: 16px;
font-weight: 500;
margin:0;
line-height: 22px;
text-transform: uppercase;
transition: all .4s linear;
}

.cardText p{
  font-size: 15px;
  font-weight: 300;
  margin:0;
  line-height: 18px;
  transition: all .4s linear;
  }

  .btnPets{
  width: 300px;
  height: 55px;
  border-radius:25px ;
  border: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 80px;
  margin-bottom: 100px;
  cursor: pointer;
  /* margin: 0 auto; */
  }

  .btnPets:hover{
    background:#E47209;
  }

  .btnPets:active{
    background:rgba(75, 146, 0, 1);
  }

.gg{
  transition: 0.7s;
  /* position: relative; */
  /* position: absolute; */

  }

  .gg:hover{
    transform:scale(1.035);
    background: gray;
 }
 
 .cardBottom{
  transition: all .4s linear;
 }

 .card:hover::after{
  opacity: 0.4;
 }

 .card::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all .2s linear;
 }

 .card:hover .gg{
  transform:scale(1.035);
 }

.card:hover .cardBottom .cardText{
  transform: translateY(-60px);
  color: #FFFFFF;
  z-index: 1;
}

.card:hover::after {
  background: rgba(0,0,0,0.9);
  z-index: 0;
}

.flowerRight{
  position: absolute;
  bottom:0;
  right: 0;
}

.flowerLeft{
  position: absolute;
  left:0;
  bottom: 0;
}


.arrLeft:active{
  background-color:rgba(75, 146, 0, 1) ;
}

.arrRight:active{
  background-color:rgba(75, 146, 0, 1) ;
}

.pickAndFeed{
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 70px;
  padding-bottom:100px ;
}

.pickAndFeed .wrapper{
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pickAndFeed  h3, .pickAndFeed p {
  margin-left: 100px;
  margin-bottom: 0;
}

.pickAndFeed h1{
  font-size: 48px;
  font-weight: 500;
  line-height: 57px;
  text-align: center;
  color: rgba(254, 144, 19, 1);
  margin-top: 0px;
  margin-bottom: 0px;
}

.pickAndFeed h3{
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.pickAndFeed p{
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
}

.secondP{
  width: 863px;
}

.btnEmergency{
border: none;
background-color: inherit;
cursor: pointer;
}

.btnEmergency a{
  text-decoration: none;
color: inherit;
border-bottom: #FE9013 1px solid;
padding-bottom: 1px;
}

.bold {
  font-weight: 500;
  margin-bottom: 10px;
}

.pickAndFeed h2{
  font-size:36px ;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 0;
}

.feedImages{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.box{
  width: 168px;
  height: 168px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  border: black;
  display: flex;
  justify-content: center;
  align-items: center;
  outline:#FE9013 1px solid; ;
}

.hiwCard{
  display: flex;
  flex-direction: column;
  width: 168px;
}

.hiwCard p{
  margin-left: 0;
  margin-top: 30px;
}

.arrow{
  width: 130px;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greenArrow{
  display: none;
}

.btnFeedNow{
  width: 300px;
  height: 55px;
  border-radius:25px ;
  border: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
 margin: 60px 0;
  cursor: pointer;
  }

  .btnFeedNow:hover{
    background:#E47209;
  }

  .btnFeedNow:active{
    background:rgba(75, 146, 0, 1);
  }

.testimoSection{
  padding-top: 140px;
  padding-bottom: 180px;
  position: relative;
}

.testimoSection .wrapper{
 overflow: hidden;
}

.ht{
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 47px;
}

.testimomialContent{
  display: flex;
  gap: 20px;
  transition:all 0.6s linear;
}

.testimonial{
  width: 100%;
  background-color:rgba(241, 243, 242, 1) ;
  border-radius: 20px;
  position: relative;
}

.gradWrapper{
  min-width: 268px;
  background:linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) ;
  border-radius: 20px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 395px;
  
}
.popUpContentTest{
  display: none;
}

.testimonial h2{
  font-size:16px; 
  font-weight: 400;
  line-height: 19px;
}
.testimonial p{
  font-size:15px; 
  font-weight: 300;
  line-height: 18px;
  text-align: left;
  color: rgba(118, 116, 116, 1);
  margin: 0px;
}

.cardHeader{
display: flex;
flex-direction: row;
align-items: center;
padding-top:  15px; 
padding-left: 15px;
}

.textContentT{
  padding: 10px 15px 20px ;
  height: 310px;
}

.textContentT p{
height: 308px;
overflow: hidden;
}

.cardHeader p{
  margin-top: 1px;
  margin-bottom: 0px;
}
.cardHeader h2{
  margin-top: 0px;
  margin-bottom: 0px;
}

.innerText{
  margin-left: 10px;
}

.cardHeader img{
  width: 37px;
  height: 37px;
}

.textContentT .hidden{
  overflow: hidden;
}

.rangeOrange{
  width: 600px;
  height: 8px;
  background:linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) ;
  border-radius: 5px;
  margin: 22px auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

input[type=range] {
  -webkit-appearance: none; 
  width: 100%;
  height: 100%; 
  background: #F5F7F6; 
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  width: 115px;
  height: 6px;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 5px;
  background-color: #FE9013;
}

input[type=range]::-webkit-slider-thumb {
  width: 115px;
  height: 6px;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 5px;
  background-color: #FE9013;
}

input[type=range]::-moz-range-thumb {
  width: 115px;
  height: 6px;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 5px;
  background-color: #FE9013;
  border: none;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  width: 100%;
}

.btnLeave{
  width: 300px;
  height: 55px;
  border: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 5px;
  }

  .btnLeave:hover{
    background:#E47209;
  }

  .btnLeave:active{
    background:rgba(75, 146, 0, 1);
  }

  .leav{
  position: absolute;
  bottom: -130px;
  right: 0;
  z-index: 0;
  }

  footer{
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #000;
  z-index: 1;
  }

  .logoSubscribe{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  }

  .logoSubscribe h1{
  color: rgba(255,255,255,1);
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  }

.subscribe input{
  width: 211px;
  background: transparent;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 7px 10px 10px;
  font-weight: 400;
  outline:rgba(249, 128, 75, 1) 1px solid;
  border: none;
  border-radius: 2px;
  margin-top: 14px;
  color: #BDBDBD;
}

.submitBtn{
  width: 130px;
  height: 42px;
  border: none;
  background: #F1F3F2;;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(51, 59, 65, 1);
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #333B41;
  padding: 0;
  margin-left: 10px;
}

.submitBtn:active{
  color:rgba(75, 146, 0, 1);
  border: 1px solid #4B9200
}

.logoSubscribe .logo{
margin: 0;
}

.btnDonate{
  width: 300px;
  height: 55px;
  border: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 36px;
  }

.btnDonate:hover{
    background:#E47209;
  }

.btnDonate:active{
    background:rgba(75, 146, 0, 1);
  }

.social{
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items:flex-end ;
}

.list{
  margin: 0;
}

.list > li{
  display: inline-block;
  margin-right:58px ;
  }
    
.list a{
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  }
 
.list a:active{
  color:#F9804B
}

.icon{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background:rgba(196, 196, 196, 0.5) ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}  

.socials a{
  display: flex;
  text-decoration: none;
  color: rgba(255, 255, 255, 1) ;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  cursor: pointer;
}

.socials ul{
  padding: 0;
  margin: 0;
}

.socials li{
  margin-bottom: 15px;
  padding: 0;
}

.socials li:last-child{
  margin-bottom: 0;
}


.socials a:active .icon{
  background-color:#4B9200 ;
}

.socials a:active{
  color: #4B9200 ;
}

.designed{
  color:rgba(255, 255, 255, 1) ;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

.designed p{
  margin: 0;
  font-weight: 100;
}

.designed p:first-child{
  margin-bottom: 10px;
}

footer .logo h1{
  font-size: 19px;
  font-weight: 22px;
  font-weight: 400;
}

footer .active{
  color:#F9804B ;
}

.list > li :hover{
  color: #F9804B
  }